<%@ page language="java" contentType="text/html; charset=UTF-8"  pageEncoding="UTF-8"%>
<style type="text/css">
	.sidebar-mini .wrapper .wrapper footer:nth-child(even){display:none;} 
</style>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
      	
      	<div class="hamburgerImg">
  			<img src="${base}/references/public/dist/newvisacss/img/02.jpg" />
  		</div>
      	
		#foreach ($vc in $vcLists)
			<li id="$velocityCount">
         		<a href="/admin/${vc.moudleCode}/list.html?currentPageIndex=$velocityCount">
         			<img src="${base}/references/public/dist/newvisacss/img/index.png" />
        			<font>${vc.moudleName}</font>
        		</a>
       		</li>
		#end
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
