#set($base = '${base}')
#set($url = '${url}')
#set($obj = '${obj.')
#set($one = '${one.')
#set($one_id='${one.id}')
#set($obj_pager='${obj}')
#set($obj_pageNumber='${obj.pageNumber}')
#set($obj_pageSize='${obj.pageSize}')
<%@ page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" errorPage="/WEB-INF/common/500.jsp"%>
<%@include file="/WEB-INF/common/tld.jsp"%>

<c:set var="url" value="$base$atUrl" />
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>$moudleName</title>
		<link rel="stylesheet" href="${base}/references/public/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="${base}/references/public/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="${base}/references/public/css/style.css">
		<link rel="stylesheet" href="${base}/references/public/dist/css/ionicons.min.css">
		<link rel="stylesheet" href="${base}/references/public/plugins/datatables/dataTables.bootstrap.css">
		<link rel="stylesheet" href="${base}/references/public/dist/css/skins/skin-blue.min.css">
		<link rel="stylesheet" href="${base}/references/public/dist/css/skins/_all-skins.min.css">
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Main content -->
				<section class="content">
						<div class="col-xs-12">
							<div class="box">
								<div class="box-header">
									<div class="form-group row form-right">
										<div class="col-md-1 col-md-offset-1">
											<a class="btn btn-primary btn-sm" onclick="add();" id="addBtn">添加</a>
										</div>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<table id="datatableId" class="table table-bordered table-hover" style="width:100%;">
										<thead>
											<tr>
												<th>序号</th>
												#foreach ($field in $fieldList)
													<th>${field.comment}</th>
												#end
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div><!-- /.col -->
				</section><!-- /.content -->
			</div><!-- /.content-wrapper -->
	
		</div>
		<!-- ./wrapper -->
	
		<!-- jQuery 2.2.3 -->
		<script src="${base}/references/public/plugins/jQuery/jquery-2.2.3.min.js"></script>
		<!-- Bootstrap 3.3.6 -->
		<script src="${base}/references/public/bootstrap/js/bootstrap.min.js"></script>
		<!-- DataTables -->
		<script src="${base}/references/public/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="${base}/references/common/js/layer/layer.js"></script>
		<!-- 引入JS -->
		<script src="${base}$atUrl/listTable.js"></script>
		<script type="text/javascript">
			var BASE_PATH = '${base}';
			$(function () {
			    initDatatable();
			});
		</script>
	</body>
</html>